<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include("../_share/metadata.ejs") %>
  <title>Register Page</title>
  <%- include("../_share/stylesheets.ejs") %>
  <!-- re-captcha implementation starts here -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <!-- re-captcha implementation ends here -->
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/recaptcha.css">
</head>
<body>
  <div class="outerframe">
    <%- include("../_share/navbar.ejs") %>
    <main class="container">
      <div class="border-bottom mt-5 mb-3">
        <h1>Register Member</h1>
      </div>
      <div class="row justify-content-center">
        <form method="POST" action="/register/confirm" class="col-sm-10 col-lg-8">
          <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label" style="text-align: center;">Username：</label>
            <div class="col-sm-9">
              <input type="text" id="name" name="name" class="form-control" placeholder="Please enter your name" value="<%= name %>" required/>
            </div>
          </div>
          <div class="form-group row">
            <label for="newemail" class="col-sm-3 col-form-label" style="text-align: center;">Email：</label>
            <div class="col-sm-9">
              <input type="text" id="newemail" name="newemail" class="form-control" placeholder="Please enter your email"  value="<%= newemail %>" required/>
            </div>
          </div>
          <div class="form-group row">
            <label for="newpassword" class="col-sm-3 col-form-label" style="text-align: center;">Password：</label>
            <div class="col-sm-9">
              <input type="password" id="newpassword" name="newpassword" class="form-control" placeholder="Please enter a password" value="<%= newpassword %>" required/>
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-sm-3 col-form-label" style="text-align: center;">Description：</label>
            <div class="col-sm-9">
              <textarea id="description" name="description" class="form-control" placeholder="This field is optional"><%= description %></textarea>
            </div>
          </div>
          <!-- re-captcha implementation starts here -->
          <div class="form-group row">
            <div class="col-sm-12 row justify-content-center">
              <div class="g-recaptcha hidden" data-sitekey="6LcAhF0lAAAAAMYBsx19h4cDhm82IMXRKgK_LQJ_" data-callback="callback_recaptcha"></div>
            </div>
          </div>
          <!-- re-captcha implementation ends here -->
          <div class="form-group row">
            <div class="col-sm-12 row justify-content-center">
              <input type="submit" class="btn btn-primary" value="regiter" />
            </div>
          </div>
        </form>
      </div>
    </main>
    <%- include("../_share/footer.ejs") %>
  </div>
  <%- include("../_share/javascripts.ejs") %>
  <script type="text/javascript" src="/public/javascripts/recaptcha-register.js"></script>
</body>
</html>