<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include("../_share/metadata.ejs") %>
  <title>Login</title>
  <%- include("../_share/stylesheets.ejs") %>
  <!-- re-captcha implementation starts here -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script>
    function callback_recaptcha(token){
      document.getElementById('submit_btn').disabled = false;
    }
  </script>
  <!-- re-captcha implementation ends here -->
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/recaptcha.css"> 
</head>
<body>
  <div class="outerframe">
    <%- include("../_share/navbar.ejs") %>
    <main role="main" class="container">
      <div class="border-bottom mt-5 mb-5">
        <h1>Login</h1>
      </div>
      <div class="row justify-content-center">
        <form method="POST" action="/account/login" class="col-sm-10 col-lg-8">
          <div class="form-group row">
            <label for="username" class="col-sm-3 col-form-label" style="text-align: center;">Username：</label>
            <div class="col-sm-9">
              <input type="text" id="username" name="username" class="form-control" placeholder="your email address" />
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-3 col-form-label" style="text-align: center;" >Password：</label>
            <div class="col-sm-9">
              <input type="password" id="password" name="password" class="form-control" placeholder="your password" />
            </div>
          </div>
          <!-- re-captcha implementation starts here -->
          <div class="form-group row">
            <div class="col-sm-12 row justify-content-center">
              <div class="g-recaptcha hidden" data-sitekey="6LcAhF0lAAAAAMYBsx19h4cDhm82IMXRKgK_LQJ_" data-callback="callback_recaptcha"></div>
            </div>
          </div>
          <!-- re-captcha implementation ends here -->
          <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
              <input type="submit" id="submit_btn" class="btn btn-primary" value="login" disabled/>
            </div>
          </div>
          <% if (message && message.length !== 0) { %>
            <div class="alert alert-danger" style="text-align: center;"><%= message %></div>
          <% } %>
        </form>
      </div>
    </main>
    <%- include("../_share/footer.ejs") %>
  </div>
  <%- include("../_share/javascripts.ejs") %>
  <script type="text/javascript" src="/public/javascripts/recaptcha-login.js"></script>
</body>
</html>
